html 
{
  background: url('background.jpeg') no-repeat center fixed;
  background-size: cover;
}
img
{
  height: 180px;
  border-radius: 3px;
}

#board
{
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, minmax(283px, auto));
}
.player
{
	display: grid;
	grid-template-rows: 35px auto;
	grid-template-columns: repeat(3, auto);
	grid-column-gap: 5px;
	justify-self: center;
}
.name
{
	grid-column: span 3;
	justify-self: center;
	text-decoration: underline;
	font: lighter 20px 'Courier New';
	color: rgb(233, 232, 232);
}
#rules
{
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
}
#log-container
{
	height: 150px;
	width: 250px;
	font: lighter 15px 'Courier New';
	color: black;
	margin-top: 10px;
	background-color: aliceblue;
	padding: 5px;
	justify-self: center;
	overflow-y: auto;
}

.go
{
  font-size: 150%;
  text-align: center;
  color: white;
  padding-top: 1.8em;
  display: inline-block;
  position: relative;
  border-color: aquamarine;
  transition: all .3s ease-out;
}
.go:before
{
	content: '▲';
	font-size: 0.9em;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -0.8em;
	border: solid .15em white;
	border-radius: 10em;
	width: 1.4em;
	height: 1.4em;
	line-height: 1.3em;
	border-color: inherit;
	transition: transform .5s ease-in;
}
.go:hover
{
	color: pink;
	border-color: pink;
}
.go:hover:before
{
	transform: rotate(360deg);
}

h1
{
	font-family: 'Courier New', monospace;
	text-decoration-line: underline;
	color: white;
}
ul
{
	color: rgb(233, 232, 232);
	font-size: 25px;
}