html 
{
  height: 100%;
}
body
{
  background: gray;
}
img
{
  height: 180px;
  border-radius: 3px;
}

#board
{
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, minmax(283px, auto));
}
.player
{
	display: grid;
	grid-template-rows: 35px auto;
	grid-template-columns: repeat(3, auto);
	grid-column-gap: 5px;
	justify-self: center;
}
<<<<<<< Updated upstream

#to-rule
=======
.name
{
	grid-column: span 3;
	justify-self: center;
	text-decoration: underline;
	font: lighter 20px 'Courier New';
	color: rgb(233, 232, 232);
}

#rules
{
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
}

.go
>>>>>>> Stashed changes
{
  font-size: 150%;
  text-align: center;
	color: white;
	padding-top: 1.8em;
	display: inline-block;
	position: relative;
	border-color: aquamarine;
	transition: all .3s ease-out;
}
#to-rule:before
{
	content: '▲';
	font-size: 0.9em;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -0.8em;
	border: solid .15em white;
	border-radius: 10em;
	width: 1.4em;
	height: 1.4em;
	line-height: 1.3em;
	border-color: inherit;
	transition: transform .5s ease-in;
}
#to-rule:hover
{
	color: pink;
	border-color: pink;
}
#to-rule:hover:before
{
	transform: rotate(360deg);
}
