html 
{
  height: 100%;
}
/* body
{
  background: linear-gradient(#ffd89b, #19547b);
} */
img
{
  height: 180px;
  border-radius: 3px;
}

#board
{
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, minmax(300px, auto));
}
#board > div
{
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
